.burger {
    display: none;
    position: relative;
    width: 20px;
    height: 18px;

    @include mobile {
        display: block;
    }

    &__line {
        position: absolute;
        left: 50%;
        width: 20px;
        height: 2px;
        background-color: var(--c-light);
        transform: translateX(-50%) translateY(-50%);

        &:first-child {
            margin-top: -8px;
        }

        &:last-child {
            left: 0;
            width: 50%;
            margin-top: 8px;
            transform: translateY(-50%);
        }

    }
}