.header {
  &-top {
    background-color: var(--c-dark);

    &__container {
      @include flex-v-center;
      position: relative;
      padding-top: 25px;
      padding-bottom: 25px;

      @include tablet {
        padding-top: 27px;
        padding-bottom: 26px;
        justify-content: space-between;
      }

      @include mobile {
        padding-top: 25px;
        padding-bottom: 25px;
      }
    }

    &__logo {
      margin-right: 140px;

      @include big-desktop {
        margin-right: calc(82px + 70 * ((100vw - 1024px) / (1920 - 1400)));
      }

      @include medium-tablet {
        margin-left: 0;
      }
    }

    &__nav {
      margin-right: auto;

      @include medium-tablet {
        //visibility: hidden;
        display: none;
      }
    }
  }

  &-bottom {
    display: none;

    @include medium-tablet {
      display: block;
      background-color: var(--c-alfa-dark);
    }

    @include mobile {
      padding-top: 14px;
      padding-bottom: 13px;
    }
  }



}