.project {
  margin-bottom: 68px;

  @include small-tablet {
    margin-bottom: 68px;
  }

  @include mobile {
    margin-bottom: 33px;
  }

  &__title {
    margin-bottom: 12px;

    @include mobile {
      margin-bottom: 16px;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;

    @include tablet {
      grid-template-columns: repeat(8, 1fr);
      //grid-template-rows: repeat(1, 285px);надо min-height на элемент
      gap: 24px 30px;
    }

    @include small-tablet {
      grid-template-columns: repeat(6, 1fr);
      gap: 26px 30px;
    }

    @include mobile {
      grid-template-columns: repeat(2, 1fr);
      gap: 25px;
    }
  }

  &__item {
    position: relative;

    @include small-tablet {
      display: flex;
      flex-direction: column;
    }

    &--one {
      grid-column: 1/span 2;
      grid-row: 1/span 1;

      @include small-tablet {
        min-height: 300px;
      }

      @include mobile {
        grid-column: 1/span 2;
        grid-row: 1/span 1;
        min-height: 297px;
      }
    }

    &--two {
      grid-column: 3/span 2;
      grid-row: 1/span 1;

      @include small-tablet {
        min-height: 300px;
      }

      @include mobile {
        grid-column: 1/span 2;
        grid-row: 2/span 1;
        min-height: 278px;
      }
    }

    &--three {
      grid-column: 5/span 2;
      grid-row: 1/span 1;

      @include tablet {
        grid-column: 5/span 4;
        grid-row: 1/span 1;
      }

      @include small-tablet {
        grid-column: 5/span 2;
        grid-row: 1/span 1;
        min-height: 300px;
      }

      @include mobile {
        grid-column: 1/span 2;
        grid-row: 3/span 1;
        min-height: 278px;
      }
    }

    &--four {
      @include bg-cover;
      grid-column: 7/span 6;
      grid-row: 1/span 1;
      padding: 22px 30px 30px;
      background-image: url(../img/project/project-4.jpg);

      @include tablet {
        grid-column: 1/span 5;
        grid-row: 2/span 1;
        background-image: url(../img/project/project-4-1024.jpg);
        padding: 30px 30px 37px 30px;
      }

      @include small-tablet {
        grid-column: 1/span 6;
        background-image: url(../img/project/project-4-768.jpg);
        padding: 30px;
        min-height: 300px;
      }

      @include mobile {
        min-height: 422px;
        grid-column: 1/span 2;
        background-image: url(../img/project/project-4-320.jpg);
        grid-row: 4/span 1;
        padding: 30px 30px 32px 30px;
      }
    }

    &--five {
      @include bg-cover;
      grid-column: 1/span 6;
      grid-row: 2/span 1;
      padding: 22px 30px 30px;
      background-image: url(../img/project/project-5.jpg);

      @include tablet {
        grid-column: 4/span 5;
        grid-row: 3/span 1;
        background-image: url(../img/project/project-5-1024.jpg);
        padding: 30px;
      }

      @include small-tablet {
        grid-column: 1/span 6;
        grid-row: 4/span 1;
        background-image: url(../img/project/project-5-768.jpg);
        padding: 30px;
        min-height: 300px;
      }

      @include mobile {
        min-height: 422px;
        grid-column: 1/span 2;
        background-image: url(../img/project/project-5-320.jpg);
        grid-row: 7/span 1;
      }
    }

    &--six {
      grid-column: 7/span 3;
      grid-row: 2/span 1;

      @include tablet {
        grid-column: 6/span 3;
        grid-row: 2/span 1;
      }

      @include small-tablet {
        grid-column: 1/span 3;
        grid-row: 3/span 1;
        min-height: 307px;
      }

      @include mobile {
        grid-column: 1/span 2;
        grid-row: 5/span 1;
        min-height: 300px;
      }
    }

    &--seven {
      grid-column: 10/span 3;
      grid-row: 2/span 1;

      @include tablet {
        grid-column: 1/span 3;
        grid-row: 3/span 1;
      }

      @include small-tablet {
        grid-column: 4/span 3;
        grid-row: 3/span 1;
        min-height: 307px;
      }

      @include mobile {
        grid-column: 1/span 2;
        grid-row: 6/span 1;
        min-height: 300px;
      }
    }
  }



  &--contacts-left {
    grid-column: 9/span 4;
    grid-row: 1/span 1;
  }

  &--contacts-right {
    grid-column: 1/span 8;
    grid-row: 1/span 1;
  }

  &__img {
    margin-bottom: 18px;
  }

  &__text {
    margin-bottom: 10px;

    @include tablet {
      margin-bottom: 17px;
    }

    @include small-tablet {
      margin-bottom: auto;
    }

    @include mobile {
      font-size: 16px;
      line-height: 22px;
    }


  }
}