.teg {
  position: absolute;
  top: 7px;
  right: 7px;
  font-size: 14px;
  color: var(--c-light);
  background-color: var(--c-dark);
  padding: 6px 14px;

  @include mobile {
    top: 5px;
    right: 5px;
    font-size: 12px;
    line-height: 14px;
    padding: 4px 14px;
  }

  &--hero {
    top: 15px;
    right: 15px;
    padding: 7px 15px;

    @include mobile {
      top: 6px;
      right: 5px;
      padding: 4px 7px;
    }
  }
}