.title {
  font-family: 'TTFirsNeue';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: var(--c-dark);
  margin: 0;

  @include mobile {
    font-size: 18px;
    line-height: 23px;
  }

  &--hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    overflow: hidden;
    white-space: nowrap;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
  }

  &--hero {
    line-height: 104%;

    @include small-tablet {
      font-size: 22px;
    }

    @include mobile {
      font-size: 18px;
      line-height: 19px;
    }
  }

  &--light {
    color: var(--c-light);
  }

  &--big {
    font-size: 36px;
    line-height: 37px;
    color: var(--c-light);

    @include tablet {
      font-size: 34px;
      line-height: 34px;
    }

    @include small-tablet {
      line-height: 31px;
    }

    @include mobile {
      font-size: 24px;
      line-height: 26px;
    }
  }

  &--slim {
    font-weight: 400;
    line-height: 22px;
  }

  &--post-project {
    line-height: 22px;

    @include mobile {
      font-size: 24px;
      line-height: 24px;
    }
  }
}