<section class="hero container">
  <h1 class="title title--hidden">Фото студия "High pass"</h1>
  <div class="hero__grid">
    <article class="hero__left">
      <div class="post">
        <span class="post__hero-sub-title">Мастер-класс от Игоря Робова</span>
        <h3 class="post__hero-title title title--big"> Неоновый фотосет 2.0 7&nbsp;июля 20:00 </h3>
        <a href="#" class="post__hero-link link link--fill">Узнать больше</a>
      </div>

      <span class="teg teg--hero">#мастеркласс</span>
    </article>

    <div class="hero__right">
      <h2 class="hero__title title title--hero">Работы участников предыдущего мастер-класса</h2>
      <ul class="list-reset hero__list">
        <li class="hero__item-top">
          <picture>
            <source srcset="img/hero/hero-2-320.jpg" media="(max-width: 320px)">
            <source srcset="img/hero/hero-2-768.jpg" media="(max-width: 768px)">
            <source srcset="img/hero/hero-2-1024.jpg" media="(max-width: 1024px)">
            <img loading="lazy" src="img/hero/hero-2.jpg" class="image" alt="">
          </picture>
        </li>
        <li class="hero__item-left ">
          <picture>
            <source srcset="img/hero/hero-3-320.jpg" media="(max-width: 320px)">
            <source srcset="img/hero/hero-3-768.jpg" media="(max-width: 768px)">
            <source srcset="img/hero/hero-3-1024.jpg" media="(max-width: 1024px)">
            <img loading="lazy" src="img/hero/hero-3.jpg" class="image" alt="">
          </picture>
        </li>
        <li class="hero__item-right ">
          <picture>
            <source srcset="img/hero/hero-4-320.jpg" media="(max-width: 320px)">
            <source srcset="img/hero/hero-4-768.jpg" media="(max-width: 768px)">
            <source srcset="img/hero/hero-4-1024.jpg" media="(max-width: 1024px)">
            <img loading="lazy" src="img/hero/hero-4.jpg" class="image" alt="">
          </picture>
        </li>
      </ul>
    </div>
  </div>

</section>